/* Main stuff */
body.login {
	background-color: #559a8b;
	margin: 0px;
	width: 100%;
	height: 100%;
	color: #ffffff !important;
}

.login .push {
	background-color: #559a8b !important;
}

.login .gc-logo {
	width: 80px;
	font-size: 0.9rem;
	padding-top: 5%;
}

.login #loginerr {
	padding-top: 1rem;
	margin-right: 30% !important;
	margin-left: 30% !important;
	/*height: 76px;
	margin: 1em 0em 0em;
	padding: 0.5em 1em;*/
}


.section .page {
	max-width: 60rem;
	margin: 0px auto;
	padding: 0px 10px;
}

.login .ui.form textarea, .login .ui.form select, .login .ui.form input[type="text"], .login .ui.form input[type="password"] {
	border: 0px solid rgba(0, 0, 0, 0.15);
}
.login .ui.form textarea:focus, .login .ui.form select:focus, .login .ui.form input[type="text"]:focus, .login .ui.form input[type="password"]:focus {
	border-radius: 0.3125em !important;
}

.login input::-webkit-input-placeholder {
	color: rgba(25,25,25);
}
.login input:-moz-placeholder {
	color: rgba(25,25,25);
}
