.gc-header {
	margin: 0px !important;
}

.admin.header {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	background-color: #cd0000;
}

.gameinfopanel.header {
	text-align: center;
	font-weight: bold;
	font-size: 38px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	background-color: #ab98d0;
}

.gameinfopanel.sub.header {
	font-size: 30px;
}
