<% title = 'Панель игровой информации' + " — " + __('global.pagetitle'),
	backUrl = '/';  %>
<%- partial('../partials/header')%>

<div class="gameinfopanel header">Панель игровой информации</div>
<div class="gameinfopanel sub header"><small>[0.1 beta alpha indev early access edition]</small></div>
<div class="container">
	<div class="ui relaxed list">
		<div class="item">
			<i class="icon big user" style="margin: 10px 10px 0px 0px;"></i>
			<div class="content">
				<h2>Игрок</h2>
				<div class="ui relaxed list">
					<div class="item">
						<a class="gc-nostylelink content"  href="/gameinfo/player/info">
							<span class="header">Общая информация об игроке</span>
							<span class="description" style="display:block">Просмотр даты регистрации, префикса, статус онлайна и бана, статистики входов</span>
						</a>
					</div>
					<div class="item">
						<a class="gc-nostylelink content"  href="/gameinfo/player/inventory">
							<span class="header">Инвентарь</span>
							<span class="description" style="display:block">Просмотр списка предметов в инвентаре игрока</span>
						</a>
					</div>
					<div class="item">
						<a class="gc-nostylelink content"  href="/gameinfo/player/loginlog">
							<span class="header">Логи входов на сервер</span>
							<span class="description" style="display:block">Просмотр логов входов на сервер</span>
						</a>
					</div>
					<!--div class="item">
						<a class="gc-nostylelink content"  href="/gameinfo/player/chestslog">
							<span class="header">Логи действий с сундуками</span>
							<span class="description" style="display:block">Просмотр логов всех действий с сундуками определённого игрока</span>
						</a>
					</div-->
					<div class="item">
						<a class="gc-nostylelink content"  href="/gameinfo/player/chatlog">
							<span class="header">Логи чата</span>
							<span class="description" style="display:block">Просмотр сообщений в чат определённого игрока</span>
						</a>
					</div>
					<div class="item">
						<a class="gc-nostylelink content"  href="/gameinfo/player/commandslog">
							<span class="header">Логи команд</span>
							<span class="description" style="display:block">Просмотр логов команд определённого игрока</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<i class="icon big globe" style="margin: 10px 10px 0px 0px;"></i>
			<div class="content">
				<h2>Мир</h2>
				<div class="ui relaxed list">
					<div class="item">
						<a class="gc-nostylelink content"  href="/gameinfo/world/regioninfo">
							<span class="header">Информация о регионе</span>
							<span class="description" style="display:block">Просмотр полной информации о регионе</span>
						</a>
					</div>
					<!--div class="item">
						<a class="gc-nostylelink content"  href="/gameinfo/world/chestlog">
							<span class="header">Логи доступа к сундуку</span>
							<span class="description" style="display:block">Просмотр логов доступа к определённому сундуку</span>
						</a>
					</div-->
					<div class="item">
						<a class="gc-nostylelink content"  href="/gameinfo/world/blockslog">
							<span class="header">Логи блоков</span>
							<span class="description" style="display:block">Просмотр логов блоков</span>
						</a>
					</div>
					<div class="item">
						<a class="gc-nostylelink content"  href="/gameinfo/world/moneylog">
							<span class="header">Логи переводов внутриигровой валюты</span>
							<span class="description" style="display:block">Просмотр логов переводов зелени и монет</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

