<div class="ui modal" id="editcomment">
	<div class="header">
	Редактирование комментария #<span id="editcomment-cid"></span> от <span id="editcomment-author"></span>
	</div>
	<div class="content">
	<div class="ui form">
		<textarea id="editcomment-textarea"></textarea>
	</div>
	</div>
	<div class="actions">
	  <div class="two fluid ui buttons">
		<div class="ui negative labeled icon button">
		  <i class="remove icon"></i>
		  Отмена
		</div>
		<div class="ui positive right labeled icon button">
		  Сохранить
		  <i class="checkmark icon"></i>
		</div>
	  </div>
	</div>
</div>
