<div class="ui modal" id="editcomment">
	<div class="header">
	<%- __('view.view.partials.editcomment.title') %>
	</div>
	<div class="content">
	<div class="ui form">
		<textarea id="editcomment-textarea"></textarea>
	</div>
	</div>
	<div class="actions">
	  <div class="two fluid ui buttons">
		<div class="ui negative labeled icon button">
		  <i class="remove icon"></i>
		  <%- __('view.view.partials.editcomment.action.cancel') %>
		</div>
		<div class="ui positive right labeled icon button">
		  <%- __('view.view.partials.editcomment.action.save') %>
		  <i class="checkmark icon"></i>
		</div>
	  </div>
	</div>
</div>
