<div class="ui basic modal" id="remcomment">
	<div class="header">
	  Удалить этот комментарий?
	</div>
	<div class="content">
	  <div class="left">
		<i class="remove sign icon"></i>
	  </div>
	  <div class="right">
		<p>Вы уверены, что хотите произвести это действие?</p>
	  </div>
	</div>
	<div class="actions">
	  <div class="two fluid ui buttons">
		<div class="ui negative labeled icon button">
		  <i class="remove icon"></i>
		  Нет, вернёмся обратно
		</div>
		<div class="ui positive right labeled icon button">
		  Да, удалить
		  <i class="checkmark icon"></i>
		</div>
	  </div>
	</div>
</div>
