<div class="footer">
	<ul class="links">
		<li><a class="link" href="//greencubes.org">Главная</a></li>
		<li>&bull; <a class="link" href="//forum.greencubes.org">Форум</a></li>
		<li>&bull; <a class="link" href="//help.greencubes.org">Система поддержки</a></li>
	</ul>
	<ul class="links right">
		<li id="hiddentruth">Венус &mdash; принцесса</li>
		<li><a class="link" href="https://forum.greencubes.org/viewtopic.php?f=255&t=26543">Блог разработки</a></li>
		<li>&bull; <a class="link" href="http://kern0.ru">Kern0</a></li>
		<li>&amp; <a class="link" href="//greencubes.org">GreenCubes</a> &copy;</li>
	</ul>
</div>
