<div class="footer">
	<ul class="links">
		<li><a class="link" href="//greencubes.org">Главная</a></li>
		<li>&bull; <a class="link" href="//forum.greencubes.org">Форум</a></li>
		<li>&bull; <a class="link" href="//help.greencubes.org">Система поддержки</a></li>
	</ul>
	<ul class="links right">
		<li id="hiddentruth">Бадник &mdash; король</li>
		<li><a class="link" href="#">Блог разработки</a></li>
		<li>&bull; <a class="link" href="//kern0.ru">Kern0</a></li>
		<li>&amp; <a class="link" href="//greencubes.org">GreenCubes</a> &copy;</li>
	</ul>
</div>
