<div class="ui green inverted gc-header menu">
  <a href="/" class="item">
      <i class="reply mail icon"></i> На главную
  </a>
  <div class="right menu">
    <%- partial('userpanel')%>
  </div>
</div>
