<div class="ui green inverted gc-header menu">
  <a href="#" class="item" onclick="history.back(); return false;">
      <i class="reply mail icon"></i> Назад
  </a>
  <div class="right menu">
    <%- partial('userpanel')%>
  </div>
</div>
