<div class="ui green inverted gc-header menu">
	<a href="<%= backUrl %>" class="item">
		<i class="reply mail icon"></i> Назад
	</a>
	<a href="<%= req.user.startPage %>" class="item" title="Стартовая страница (изменяемая)"><i class="reorder icon"></i></a>
	<div class="right menu">
		<%- partial( 'userpanel')%>
	</div>
</div>
