<div class="ui green inverted gc-header menu">
	<a href="<%= backUrl %>" class="item">
		<i class="reply mail icon"></i> Назад
	</a>
	<a href="/all" class="item" title="Список всех тикетов"><i class="reorder icon"></i></a>
	<div class="right menu">
		<%- partial( 'userpanel')%>
	</div>
</div>
