<div class="ui modal" id="gc-logoutmodal">
	<div class="header">
	Выйти из аккаунта?
	</div>
	<div class="content">
	  <div class="left">
		<i class="sign out icon"></i>
	  </div>
	  <div class="right">
		<p>Вы уверены, что хотите выйти из аккаунта?</p>
	  </div>
	</div>
	<div class="actions">
	  <div class="two fluid ui buttons">
		<div class="ui negative labeled icon button">
			<i class="remove icon"></i>
			Нет, вернёмся обратно
		</div>
		<div class="ui positive right labeled icon button" type="submit">
			Да, выйти из аккаунта
			<i class="checkmark icon"></i>
		</div>
	  </div>
	</div>
</div>
