<div class="ui modal" id="gc-notifmodal">
	<i class="close icon"></i>
	<div class="header">
		Оповещения
	</div>
	<div class="content" style="overflow-y:auto;display:block;">
		<table class="ui basic padded large table" id="gc-notiftable">
			<tbody id="gc-notiftablebody"></tbody>
		</table>
	</div>
	<div class="actions">
		<div id="gc-notifmodal-deletebutton">Удалить все</div>
		<div id="gc-notifmodal-refreshbutton" title="Обновить"><i class="refresh icon"></i></div>
	</div>
</div>
