<% if (req.user) { %>
  <div class="ui simple dropdown item">
    <%= req.user.username %> <i class="icon dropdown"></i>
    <div class="menu">
      <a href="/@<%= req.user.username%>" class="item"><i class="user icon"></i>Профиль</a>
      <a href="/my" class="item"><i class="list layout icon"></i>Ваши тикеты</a>
    </div>
  </div>
  <a href="/logout" class="item">
    <i class="sign out icon"></i>
  </a>
<% } else {%>
<% scripts.push('login.head.js') %>
  <a class="item">Создать приватный тикет</a>
  <a id="hd-login" class="item mini">
    Вход <i class="user icon"></i>
  </a>
<% } %>
