<% if (req.user) { %>
	<a href="/new" class="item" title="Новый тикет"><i class="add icon"></i></a>
	<a href="#" class="item" title="Оповещения" id="gc-notifheaderbutton"><i class="bell icon"></i><span id="gc-notifnumber"></span></a>
	<div class="ui simple top right pointing dropdown item" style="float: none;">
		<% if (req.user.prefix) { %><%= req.user.prefix %><% } %>&nbsp;<%= req.user.username %> <i class="icon dropdown"></i>
		<div class="menu">
			<a href="/user" class="item"><i class="user icon"></i>Ваш профиль</a>
			<a href="/settings" class="item"><i class="setting icon"></i>Аккаунт</a>
		<% if (req.user.group === 3) { %>
			<a href="/admin" class="item"><i class="dashboard icon"></i>Админпанель</a>
		<% } %>
		</div>
	</div>
	
	<a href="/logout" class="item" title="Выход">
		<i class="sign out icon"></i>
	</a>
<% } else {%>
	<a href="/login" class="item">
		Вход <i class="user icon"></i>
	</a>
<% } %>
