<h1 style="margin-bottom: 30px;" class="gc page header">Список тикетов</h1>
<div class="ui grid">
	<div class="left column">
		<div class="ui gc ticketlist relaxed big list">
			<div class="item">
				<div class="content status declined">
					<div class="header"><i class="bug icon"></i><a href="#">GreenCubes: Клиент крашится в ReactOS</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Отклонён</a><a href="/id/420#lastmessage" class="info">2 ответа</a>  <a href="/id/420" class="info">2 дня назад</a>  <a href="/users/noobwrecker3000" class="info">Kernel</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status accepted">
					<div class="header"><i class="bug icon"></i><a href="#">Веб-сервисы: OAuth не работает</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Принят</a><a href="/id/420#lastmessage" class="info">1 ответ</a>  <a href="/id/420" class="info">8 дней назад</a>  <a href="/users/noobwrecker3000" class="info">astappev</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status new">
					<div class="header"><i class="bug icon"></i><a href="#">Баг вот тут-то там вот</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Новый</a><a href="/id/420#lastmessage" class="info">3 ответа</a>  <a href="/id/420" class="info">2 месяца назад</a>  <a href="/users/noobwrecker3000" class="info">noob1337420</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status declined">
					<div class="header"><i class="bug icon"></i><a href="#">GreenCubes: Клиент крашится в ReactOS</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Отклонён</a><a href="/id/420#lastmessage" class="info">2 ответа</a>  <a href="/id/420" class="info">2 дня назад</a>  <a href="/users/noobwrecker3000" class="info">Kernel</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status accepted">
					<div class="header"><i class="bug icon"></i><a href="#">Веб-сервисы: OAuth не работает</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Принят</a><a href="/id/420#lastmessage" class="info">1 ответ</a>  <a href="/id/420" class="info">8 дней назад</a>  <a href="/users/noobwrecker3000" class="info">astappev</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status new">
					<div class="header"><i class="bug icon"></i><a href="#">Баг вот тут-то там вот</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Новый</a><a href="/id/420#lastmessage" class="info">3 ответа</a>  <a href="/id/420" class="info">2 месяца назад</a>  <a href="/users/noobwrecker3000" class="info">noob1337420</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status declined">
					<div class="header"><i class="bug icon"></i><a href="#">GreenCubes: Клиент крашится в ReactOS</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Отклонён</a><a href="/id/420#lastmessage" class="info">2 ответа</a>  <a href="/id/420" class="info">2 дня назад</a>  <a href="/users/noobwrecker3000" class="info">Kernel</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status accepted">
					<div class="header"><i class="bug icon"></i><a href="#">Веб-сервисы: OAuth не работает</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Принят</a><a href="/id/420#lastmessage" class="info">1 ответ</a>  <a href="/id/420" class="info">8 дней назад</a>  <a href="/users/noobwrecker3000" class="info">astappev</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status new">
					<div class="header"><i class="bug icon"></i><a href="#">Баг вот тут-то там вот</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Новый</a><a href="/id/420#lastmessage" class="info">3 ответа</a>  <a href="/id/420" class="info">2 месяца назад</a>  <a href="/users/noobwrecker3000" class="info">noob1337420</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status declined">
					<div class="header"><i class="bug icon"></i><a href="#">GreenCubes: Клиент крашится в ReactOS</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Отклонён</a><a href="/id/420#lastmessage" class="info">2 ответа</a>  <a href="/id/420" class="info">2 дня назад</a>  <a href="/users/noobwrecker3000" class="info">Kernel</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status accepted">
					<div class="header"><i class="bug icon"></i><a href="#">Веб-сервисы: OAuth не работает</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Принят</a><a href="/id/420#lastmessage" class="info">1 ответ</a>  <a href="/id/420" class="info">8 дней назад</a>  <a href="/users/noobwrecker3000" class="info">astappev</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status new">
					<div class="header"><i class="bug icon"></i><a href="#">Баг вот тут-то там вот</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Новый</a><a href="/id/420#lastmessage" class="info">3 ответа</a>  <a href="/id/420" class="info">2 месяца назад</a>  <a href="/users/noobwrecker3000" class="info">noob1337420</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status declined">
					<div class="header"><i class="bug icon"></i><a href="#">GreenCubes: Клиент крашится в ReactOS</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Отклонён</a><a href="/id/420#lastmessage" class="info">2 ответа</a>  <a href="/id/420" class="info">2 дня назад</a>  <a href="/users/noobwrecker3000" class="info">Kernel</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status accepted">
					<div class="header"><i class="bug icon"></i><a href="#">Веб-сервисы: OAuth не работает</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Принят</a><a href="/id/420#lastmessage" class="info">1 ответ</a>  <a href="/id/420" class="info">8 дней назад</a>  <a href="/users/noobwrecker3000" class="info">astappev</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="content status new">
					<div class="header"><i class="bug icon"></i><a href="#">Баг вот тут-то там вот</a></div>
					<div class="description"><i class="lock icon"></i><a href="/tickets" class="info">Новый</a><a href="/id/420#lastmessage" class="info">3 ответа</a>  <a href="/id/420" class="info">2 месяца назад</a>  <a href="/users/noobwrecker3000" class="info">noob1337420</a>
					</div>
				</div>
			</div>
		</div>
		<div class="gc center" style="padding-top: 30px">
			<div class="ui pagination menu">
				<a class="active item" href="#">1</a>
				<a class="item" href="#">2</a>
				<a class="item" href="#">3</a>
				<a class="item">...</a>
				<a class="item" href="#">8</a>
				<a class="item" href="#">9</a>
				<a class="item" href="#">10</a>
			</div>
		</div>
	</div>
	<div class="right column">
		<div class="ui form" style="font-size: 0.9em;">
			<h3 class="ui header">
				Sort by
			</h3>
			<div class="inline field">
				<div class="ui radio checkbox">
					<input id="sort-bycreation" name="sort:number" value="1" checked="" type="radio">
					<label for="sort-bycreation">date</label>
				</div>
			</div>
			<div class="inline field">
				<div class="ui radio checkbox">
					<input id="sort-byactivity" name="sort:number" value="2" type="radio">
					<label for="sort-byactivity">activity</label>
				</div>
			</div>
			<h3 class="ui header">
				Ticket types
			</h3>
			<div class="inline field">
				<div class="ui checkbox">
					<input class="filter-type-bugreport" name="type[1]:number" value="1" type="checkbox">
					<label for="filter-type-bugreport">Bug report</label>
				</div>
			</div>
			<div class="inline field">
				<div class="ui checkbox">
					<input class="filter-type-rempro" name="type[2]:number" value="2" type="checkbox">
					<label for="filter-type-rempro">Region removal request</label>
				</div>
			</div>
			<div class="inline field">
				<div class="ui checkbox">
					<input class="filter-type-ban" name="type[3]:number" value="3" type="checkbox">
					<label for="filter-type-ban">Ban request</label>
				</div>
			</div>
			<div class="inline field">
				<div class="ui checkbox">
					<input class="filter-type-unban" name="type[4]:number" value="4" type="checkbox">
					<label for="filter-type-unban">Pardon request</label>
				</div>
			</div>
			<h3 class="ui header">Statuses</h3>
			<div class="ui basic accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					<label style="cursor:pointer;">General statuses</label>
				</div>
				<div class="content">
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-new" name="status[1]:number" value="1" type="checkbox">
							<label for="filter-status-new">New</label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-specify" name="status[3]:number" value="3" type="checkbox">
							<label for="filter-status-specify">Clarify</label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-rejected" name="status[2]:number" value="2" type="checkbox">
							<label for="filter-status-rejected">Revoked</label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-declined" name="status[4]:number" value="4" type="checkbox">
							<label for="filter-status-declined">Declined</label>
						</div>
					</div>
				</div>
			</div>
			<div class="ui basic accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					<label style="cursor:pointer;">Bug reports</label>
				</div>
				<div class="content">
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-accepted" name="status[11]:number" value="11" type="checkbox">
							<label for="filter-status-accepted">Accepted</label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-fixed" name="status[12]:number" value="12" type="checkbox">
							<label for="filter-status-fixed">Done</label>
						</div>
					</div>
				</div>
			</div>
			<div class="ui basic accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					<label style="cursor:pointer;">Protection removal requests</label>
				</div>
				<div class="content">
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-inreview" name="status[8]:number" value="8" type="checkbox">
							<label for="filter-status-inreview">In&nbsp;progress</label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-delayed" name="status[9]:number" value="9" type="checkbox">
							<label for="filter-status-delayed">Delayed</label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-done" name="status[10]:number" value="10" type="checkbox">
							<label for="filter-status-done">Done</label>
						</div>
					</div>
				</div>
			</div>
			<div class="ui basic accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					<label style="cursor:pointer;">Ban/Pardon requests</label>
				</div>
				<div class="content">
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-done" name="status[10]:number" value="10" type="checkbox">
							<label for="filter-status-done">Done</label>
						</div>
					</div>
				</div>
			</div>

			<div class="ui basic accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					<label style="cursor:pointer;">Hidden statuses</label>
				</div>
				<div class="content">
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-hidden" name="status[5]:number" value="5" type="checkbox">
							<label for="filter-status-hidden">Hidden</label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-status-removed" name="status[6]:number" value="6" type="checkbox">
							<label for="filter-status-removed">Deleted</label>
						</div>
					</div>
				</div>
			</div>

			<h3 class="ui header">Visibility</h3>
			<div class="grouped fields">
				<div class="field">
					<div class="ui radio checkbox">
						<input class="filter-visibility-all" name="visibility:number" value="3" checked="" type="radio">
						<label for="filter-visibility-all">Any</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input class="filter-visibility-public" name="visibility:number" value="1" type="radio">
						<label for="filter-visibility-public">Public</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input class="filter-visibility-private" name="visibility:number" value="2" type="radio">
						<label for="filter-visibility-private">Private</label>
					</div>
				</div>
			</div>
			<h3 class="ui header">
				Problem location
				<div class="sub header">only for bug reports</div>
			</h3>
			<div class="inline field">
				<div class="ui checkbox">
					<input class="filter-product-unknown" name="product[1]" value="1" type="checkbox">
					<label for="filter-product-unknown">Unknown</label>
				</div>
			</div>
			<div class="inline field">
				<div class="ui checkbox">
					<input class="filter-product-main" name="product[2]" value="2" type="checkbox">
					<label for="filter-product-main">GreenCubes</label>
				</div>
			</div>
			<div class="inline field">
				<div class="ui checkbox">
					<input class="filter-product-websites" name="product[5]" value="5" type="checkbox">
					<label for="filter-product-websites">Web services</label>
				</div>
			</div>
			<div class="ui divider"></div>
			<div class="ui big fluid button" id="gc-filter-submit">Show</div>
			<a class="gc link button" href="#">Reset form</a>
		</div>
	</div>
</div>