<div class="ui green inverted gc-header menu">
	<div class="ui simple dropdown item">
		<div class="text">Списки тикетов</div>
		<i class="icon dropdown"></i>
		<div class="menu">
			 <a href="/all" class="item"><i class="reorder icon"></i>Все тикеты</a>
			 <a href="/bugreports" class="item"><i class="bug icon"></i>Баг-репорты</a>
			 <a href="/rempros" class="item"><i class="remove icon"></i>Расприват</a>
			 <a href="/bans" class="item"><i class="ban circle icon"></i>Баны</a>
			 <a href="/unbans" class="item"><i class="blank circle icon"></i>Разбаны</a>
			 <a href="/regens" class="item"><i class="leaf icon"></i>Регены</a>
			 <a href="/admreq" class="item"><i class="briefcase icon"></i>Обращения к администрации</a>
		 </div>
	</div>
	<div class="right menu">
		<a href="/loginproblems" class="item">
			У меня проблемы с входом 
		</a>
		<a href="//greencubes.org/?action=start" class="item">
			Регистрация <i class="user icon"></i>
		</a>
	</div>
</div>
