<div class="ui green inverted gc-header menu">
	<a href="/all" class="item" title="Список всех тикетов"><i class="reorder icon"></i>Все тикеты</a>
	<div class="right menu">
		<a href="https://greencubes.org/?action=recover#t" class="item">
			Забыли пароль?
		</a>
		<a href="/login" class="item">
			Войти через аккаунт GC <i class="user icon"></i>
		</a>
	</div>
</div>
