<h1 style="margin-bottom: 30px;" class="gc page header">Список тикетов</h1>
<div class="ui grid gc ticketlist">
	<div class="left column">
		<div class="ui gc ticketlist relaxed big list">
			<div id="notickets">Тикеты не найдены</div>
		</div>
	</div>
	<div class="right column">
		<%- partial('partials/filter') %>
	</div>
</div>
