<% title="Создать баг-репорт — GC.Поддержка",
	backUrl = '/bugreports' %>
<%- partial( '../partials/header') %>
<div class="container">
	<div class="ui two column grid">
		<div class="column" style="width:70%;border-right: 1px solid rgba(0, 0, 0, 0.1);">
			<form id="gc-reportform">
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				<div class="ui fluid form" id="gc-reportformdiv">
					<h1 class="header" style="margin: 0px; padding: 0.2em 0em 0em;">Новый баг-репорт
					</h1>
					<div class="ui divider" style="margin: 1em 0em !important;"></div>
					<div class="two fields">
						<div class="field" style="width: 270px;">
							<label>Местонахождение проблемы</label>
							<div class="ui selection fluid dropdown">
								<input name="product" type="hidden">
								<div class="default text">В какой программе баг?</div>
								<div class="menu">
									<div class="item" data-value="1">Я не знаю</div>
									<div class="item" data-value="2">Сервер Main</div>
									<div class="item" data-value="3">Сервер RPG</div>
									<div class="item" data-value="4">Сервер Apocalyptic</div>
									<div class="item" data-value="5">Веб-сервисы</div>
								</div>
								<i class="dropdown icon"></i>
							</div>
						</div>
					</div>
					<div class="field">
						<label>Краткое описание</label>
						<input name="title" type="text">
					</div>
					<div class="field">
						<label>Подробное описание</label>
						<textarea id="description" name="description"></textarea>
					</div>
					<div class="field">
						<label>Логи <em>(необязательно)</em></label>
						<textarea id="logs" style="min-height: 1em; height: 6em;" name="logs"></textarea>
					</div>
					<div class="ui divider"></div>
					<div class="field">
						<label>Прикрепить изображения <em>(необязательно)</em></label>
						<input class="ui basic button" type="file" multiple name="upload" value="Загрузить изображения"></input>
					</div>
					<div class="gc-help"><i class="attention icon"></i>Один файл не более 10 Мбайт</div>
					<div class="ui divider"></div>
					<button class="ui blue submit button" type="submit">Отправить</button>
					<div id="errmessage"></div>
					<div class="ui dimmer" id="senddimmer">
						<div class="ui large text loader">Тикет отправляется</div>
					</div>
				</div>
			</form>
		</div>
		<div class="column" style="width:30%">
			<h2>Баг-репорт</h2>
			<p>Сообщение с описанием технической ошибки или проблемы (бага), предназначенное для разработчика. В баг-репорте нужно подробно описать, что произошло, в какой ситуации, и приложить лог или скриншот.</p>
			<div class="gc-help">Тикет создаётся приватным и не показывается в общем списке тикетов. Хелперы и модераторы могут сами сделать тикет публичным.</div>
			<h2>Другие типы тикетов</h2>
			<div class="ui selection list">
				<div class="active item">
					<i class="bug big icon" style="margin:0em 0.5em 0em 0em"></i>
					<a class="gc-nostylelink content" style="display:block" href="/new/bugreport">
						<span class="header" style="display:block">Баг-репорт</span>
						<span>Сообщения об ошибках</span>
					</a>
				</div>
				<div class="item">
					<i class="remove big icon" style="margin:0em 0.5em 0em 0em"></i>
					<a class="gc-nostylelink content" style="display:block" href="/new/rempro">
						<span class="header" style="display:block">Удаление защит</span>
						<span>Удаление внутриигровых защит</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<%- partial('partials/unsaved') %>
<%- partial('partials/errormodal') %>
