<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Такой страницы нет — GC.Тикеты</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta property="og:title" content="Такой страницы нет — GC.Тикеты" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/images/logo.png">
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link href="/styles/sem.css" type="text/css" rel="stylesheet" />
		<style>body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;color: rgb(85, 85, 85);}.gc-center{margin:0 auto;text-align:center;display:block!important;}.container{padding-right:20%;padding-left:20%;margin-right:auto;margin-left:auto;}@media(min-width:768px){.container{max-width:750px;}}@media(min-width:992px){.container{max-width:970px;}}@media(min-width:1200px){.container{max-width:1170px;}}</style>
	</head>

	<body>
		<div class="container gc-center">
			<img class="ui small image gc-center" src="/images/logo.png">
			<h1>Увы, но запрашиваемой страницы нет</h1>
			<div class="ui divider"></div>
			<div class="ui buttons tiny">
				<a href="//greencubes.org" class="ui button">Главный сайт</a>
				<a href="/" class="ui button">Тикет система</a>
				<a href="//forum.greencubes.org" class="ui button">Форум</a>
			</div>
		</div>
	</body>
</html>
