<div class="ui horizontal icon divider">
		<i class="circular heart icon"></i>
	</div>
	<p class="gc-pull-right"><a href="//github.com/Kern0/GCTickets" class="gc-link">Github</a> &#149; <a href="//kern0.ru" class="gc-link">Kern0</a> &#149; <a href="//greencubes.org" class="gc-link">GreenCubes</a></p>
	</body>
</html>
