<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%- title %></title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="icon" type="image/png" href="//greencubes.org/favicon.png" />
		<%- renderCSSTags(styles) %>
		<%- renderJSTags(scripts) %>
	</head>

	<body>
	<div class="wrapper">
	<%- body %>
	<div class="push"></div>
	</div>
	<div class="footer">
		<ul class="links">
			<li><a class="link" href="//greencubes.org">Главная</a></li>
			<li>&bull; <a class="link" href="//forum.greencubes.org">Форум</a></li>
		</ul>
		<ul class="links right">
			<li id="hiddentruth">Бадник &mdash; король</li>
			<li><a class="link" href="/releasenotes">0.1.0 Alpha</a></li>
			<li>&bull; <a class="link" href="//kern0.ru">Kern0</a></li>
			<li>&amp; <a class="link" href="//greencubes.org">GreenCubes</a> &copy;</li>
		</ul>
	</div>
	</body>
</html>
