<% backUrl = 'lolz' %>
<%- partial('partials/header') %>
<br><br><br>
<div class="container"><a id="popup" data-position="bottom center" data-html="<%- partial('partials/pinfo') %>" data-variation="small"><%= req.user.username %></a></div>
