<div class="ui modal" id="remticket">
	<div class="header">
		<%- __('view.edit.partials.delete.header', ticket.id, ticket.title) %>
	</div>
	<div class="content">
	  <div class="left">
		<i class="remove sign icon"></i>
	  </div>
	  <div class="right">
		<p><%- __('view.edit.partials.delete.description') %></p>
	  </div>
	</div>
	<div class="actions">
	  <div class="two fluid ui buttons">
		<div class="ui negative labeled icon button">
			<i class="remove icon"></i>
			<%- __('view.edit.partials.delete.action.no') %>
		</div>
		<div class="ui positive right labeled icon button" type="submit">
			<%- __('view.edit.partials.delete.action.yes') %>
			<i class="checkmark icon"></i>
		</div>
	  </div>
	</div>
</div>
