<div class="ui green inverted gc-header menu">
	<div class="left menu">
		<a href="<%= backUrl %>" class="item">
			<i class="reply mail icon"></i> Назад
		</a>
		<a href="<%= (req.user && req.user.startPage) ? req.user.startPage : '/all' %>" class="item" title="<%= (req.user && req.user.startPage) ? 'Стартовая страница (изменяемая)' : 'Все тикеты' %>"><i class="home icon"></i></a>
	</div>
	<div class="right menu">
		<%- partial( '../../partials/userpanel')%>
	</div>
</div>
