.gc.create.content {
	padding-left: 10%;
	padding-right: 10%;
}

.gc.create .description {
	font-size: 1.6rem;
    padding: 2rem 0rem;
    margin: 0;
}

.gc.create .description:first-of-type {
	padding-top: 0;
}

.gc.create .subdescription {
	font-size: 1.4rem;
}


.gc.create .createform.formtag {
	width: 100%;
}

.gc.create .createform.shortdescr {
	width: 80%;
}

.gc.create .createform.longdescr {
	width: 80%;
}

#createform-ext-shortdescr {
	padding: 0;
}

#createform-ext-shortdescr input {
    background: none;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    border-color: #559A8B;
    border-radius: 0;
}

#createform-ext-longdescr {
	min-height: 300px;
    height: auto;
	width: 80%;
    margin: 0;
    background: none;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    border-color: #559A8B;
    border-radius: 0;
    font-size: 16px;
    font-family: inherit;
}

#createform-ext-longdescr::after {
    padding: 0.5em 1em;
    font-size: 16px;
}
