.gc.ticketlist .left.column {
	width: 75% !important;
	position: relative;
	padding-right: 0px !important;
}

.gc.ticketlist .right.column {
	width: 25% !important;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 1em;
	padding-left: 2em !important;
}

.gc.ticketlist .list {
	margin: 0px;
}
.gc.ticketlist.list .content {
	padding: 0px;
}
.gc.ticketlist.list .content.status {
	padding: 0px 6px;
}
.gc.ticketlist.list .description .info {
	margin: 0px 5px 0px 0px;
}
.gc.ticketlist.list .seemore {
	padding: 1em 0 3px;
}

.gc.ticketlist #notickets {
	margin-top: 100px;
	font-size: 2rem;
	text-align: center;
}

.ui.list .description .info {
	color: rgba(0, 0, 0, 0.6) !important;
}
