<% title = "Все тикеты — GC.Тикеты" -%>
<!-- FIXME: Переделать на socket.io -->
<div class="ui green inverted gc-header menu">
  <div class="ui simple dropdown item">
    Все тикеты <i class="icon dropdown"></i>
    <div class="menu">
      <a href="/" class="item active"><i class="reorder icon"></i>Все тикеты</a>
      <a href="/bugreports" class="item"><i class="wrench icon"></i>Баг-репорты</a>
      <a href="/rempro" class="item"><i class="remove icon"></i>Расприват</a>
      <a href="/bans" class="item"><i class="ban circle icon"></i>Баны</a>
      <a href="/unbans" class="item"><i class="blank circle icon"></i>Разбаны</a>
      <a href="/other" class="item"><i class="sign icon"></i>Остальное</a>
    </div>
  </div>
  <div class="right menu">
    <div class="ui simple dropdown item">
    <%= user.username %> <i class="icon dropdown"></i>
    <div class="menu">
      <a href="/tickets" class="item"><i class="list layout icon"></i>Ваши тикеты</a>
      <a href="/settings" class="item"><i class="setting icon"></i>Настройки</a>
      <a href="/help" class="item"><i class="question icon"></i>Помощь</a>
      </div>
    </div>
    <a href="/logout" class="item mini">
      <i class="sign out icon"></i>
    </a>
  </div>
</div>
<div class="ui secondary menu">
  <a href="/new" class="active item">
    <i class="add icon"></i>
    Создать тикет
  </a>
  <a href="/new/rempro" class="item gc-tiny hidden-xs">
    Расприват
  </a>
  <a href="/new/unban" class="item gc-tiny hidden-xs">
    Заявка на разбан
  </a>
  <a href="/new/ban" class="item gc-tiny hidden-xs">
    Заявка на бан
  </a>
  <a href="/new/bugreport" class="item gc-tiny hidden-xs">
    Баг-репорт
  </a>
  <div class="right menu">
    <div id="gc-dpstatus" class="ui compact menu">
      <div id="gc-dpstatus" class="ui simple dropdown item">
      Все статусы <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item active gc-tiny">Все статусы</div>
        <div class="item gc-tiny">Новый</div>
        <div class="item gc-tiny">На рассмотрении</div>
        <div class="item gc-tiny">Отклонён</div>
        <div class="item gc-tiny">Выполнен</div>
        <div class="item gc-tiny">Требует уточнения</div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="container" ng-app="ticketApp">
<table class="ui basic table" ng-controller="TicketController" ng-cloak>
  <thead>
  <tr>
    <th>Тип</th>
    <th>Пользователь</th>
    <th>Тема</th>
    <th>Время</th>
    <th>Статус</th>
  </tr></thead>
  <tbody id="tickets">
    <tr ng-repeat="ticket in tickets">
      <td class="t-type" title="Бан"><i class="ban circle icon"></i></td>
      <td class="t-nick"><a href="/u/{{ticket.owner}}" class="gc-link">{{ticket.owner}}</a></td>
      <td class="t-decr"><a href="/{{ticket.id}}" class="gc-link">{{ticket.title}}</a></td>
      <td class="t-time">Только что</td>
      <td class="t-status positive">{{ticket.status}}</td>
    </tr>
  </tbody>
</table>
</div>
