<div class="ui small modal" id="errormodal">
	<i class="close icon"></i>
	<div class="header">
		<%- __('view.create.partials.errormodal.header') %>
	</div>
	<div class="content">
		<span id="modalerrormessage" style="font-weight: bold;"></span>
	</div>
</div>
