<% title = 'Примечания к выпуску 0.1 «Alpha» - GC.Тикеты',
	backUrl = '/';
styles.push('releasenotes.css'); %>

<%- partial('../partials/header')%>
<div class="first section">
	<div class="ui grid">
		<div class="left floated column page" style="width: auto; max-width: 72%; padding-left: 0px; min-width: 60%;margin-top: 40px;">
			<div class="main header">
				<img class="ui image gc-logo" src="/images/logo-preview.png">
				<h1>Примечания к выпуску 0.1 &laquo;Alpha&raquo;</h1>
			</div>
		</div>
	</div>
</div>
<div class="second section">
	<div class="page">
		<div class="header">
			<h1>Краткое описание</h1>
			<h3>Релиз 0.1 &laquo;Alpha&raquo; является основой для реализации полноценной тикет-системы, которая в будущем заменит многие технические разделы форума.</h3>
			<h3>Изначально была идея создания тикет-системы упрощающая взаимодействие Хелперов и Модераторов. В процессе планирования проекта было решено сделать данную тикет-систему ориентированную и на игроков. Так как параллельно с разработкой тикет-системой началась разработка <a href="https://forum.greencubes.org/viewtopic.php?f=255&t=22075">нового клиента</a> сервера GreenCubes Main, то первый релиз был ориентирован в первую очередь на багрепорты.</h3>
		</div>
	</div>
</div>
<div class="third section">
	<div class="page">
		<div class="faq header">
			<h1>Информация о процессе разработки</h1>
			<h3>Во время разработки перед командой разработки, конкретно Kern0 (в прошлом Kernel), столкнулись с некоторыми трудностями, которые в конечном итоге затянули разработку на длительное время. Были проблемы с организацией времени, конечной планировкой проекта и назойлевыми багами. Тем не менее, в итоге всё разрешилось.</h3>
			<h3>Тикет-система была написала с нуля на <a href="//sailsjs.org">Sails.JS</a> с использованием <a href="//nodejs.org">Node.JS</a>. Для Kern0 это был первый опыт в разработке масштабных проектов на этой платформе.</h3>
			<h3 style="margin-top:15px;">Кроме того, ему помогали следующие люди:</h3>
			<ol>
				<li>Rena4ka &mdash; Идея проекта, описания баз данных и ответы на глупые вопросы.</li>
				<li>Feyola &mdash; Проектирование проекта (ТЗ) и интерфейсов.</li>
				<li>MushroomKiller &mdash; Художник, помощь в тайм менеджемнте.</li>
			</ol>
			<h3 style="margin-top:20px;">За время разработки было потрачено не мало бессонных ночей.</h3>
		</div>
	</div>
</div>
<div class="fourth section">
	<div class="page">
		<div class="header">
			<h1>Новый функционал</h1>
			<h3>В данном релизе был реализован следующий функционал:</h3>
			<ul>
				<li>
					<h2>Субъективно неплохой интерфейс</h2>
					<p>Пользовательский интерфейс основан на <a href="//semantic-ui.com">Semantic UI</a>. Воссоздан из макетов сделанных Feyola. Концепция дизайна придумана Kern0.</p>
				</li>

				<li>
					<h2>Авторизация</h2>
					<p>Авторизация происходит по самой настоящей базе данных пользователей GreenCubes. С этим особых проблем не возникло.</p>
				</li>

				<li>
					<h2>Обработка информации из БД GreenCubes</h2>
					<p>Очень просто получить информацию, но не всегда легко её усвоить и понять. Так как база данных чужая, то приходилось разобраться в её структуре и правильно подавать её на &laquo;обеденный стол&raquo; внутренним функциям Тикет-системы.</p>
				</li>

				<li>
					<h2>Багрепорты</h2>
					<p>Это первый из всех возможных типов тикетов. С помощью багрепортов администраторы серверов смогут собирать информацию о наличии недочётов в их продуктах. Довольно прост в реализации.</p>
				</li>

				<li>
					<h2>Система комментариев</h2>
					<p>Каждый тикет должен иметь возможность быть прокомментирован, допстуим, разработчиком. Также включает в себя смену статуса тикета в соответствии с правами пользователя.</p>
				</li>

				<li>
					<h2>Система прав</h2>
					<p>Некоторые страницы должны быть показаны только определённой группе пользователей и наоборот. С этим пришлось немного повозиться, но первые зачатки системы прав были даны.</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="fifth section">
	<div class="page">
		<div class="header">
			<h1>А что в следующей версии?</h1>
			<h3>Вероятно, в следующей версии будут добавлены новые типы тикетов, а конкретно: заявки на расприват, бан и разбан, усовершенствован интерфейс и будут добавлены новые баги :)</h3>
			<h3 style="margin-top: 30px;"><a href="/">Вернуться на главную</a></h3>
		</div>
	</div>
</div>
