<h1 class="gc mainpage header">Вам требуется помощь?</h1>
<form id="gc-mainpage-search">
	<div class="gc mainpage search">
		<input class="prompt" placeholder="Поиск по вопросам..." id="gc-mainpage-search-input" type="text">
		<a id="gc-mainpage-search-submit" href="#">
			<i class="search icon"></i>
		</a>
	</div>
</form>
<div class="ui five column relaxed grid ticket-blocks">
	<a class="column" href="/new/bugreport">
		<img class="ui medium bordered image" src="assets/images/mainpage/bugreport-illustration.png">
		<h3>Отправить баг-репорт</h3>
	</a>
	<a class="column" href="/new/rempro">
		<img class="ui medium bordered image" src="assets/images/mainpage/rempro-illustration.png">
		<h3>Составить заявку на удаление защит</h3>
	</a>
	<a class="column" href="/new/ban">
		<img class="ui medium bordered image" src="assets/images/mainpage/ban-illustration.png">
		<h3>Составить заявку на бан</h3>
	</a>
	<a class="column" href="/new/unban">
		<img class="ui medium bordered image" src="assets/images/mainpage/unban-illustration.png">
		<h3>Составить заявку на разбан</h3>
	</a>
	<a class="column" href="/new/regen">
		<img class="ui medium bordered image" src="assets/images/mainpage/regen-illustration.png">
		<h3>Составить заявку на реген</h3>
	</a>
</div>
<div class="ui two column grid addpadding">
	<div class="column">
		<h1>Часто задаваемые вопросы</h1>
		<div class="ui relaxed gc mainpage large list">
			<div class="item">
				<div class="content">
					<a class="header">Как сделать октаблок блоков Бадников?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">2 ответа</a> <a href="/id/420" class="info">13 дней назад</a> <a href="/users/noobwrecker3000" class="info">noobwrecker3000</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Где купить удочки?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">1 ответ</a> <a href="/id/420" class="info">8 дней назад</a> <a href="/users/ChangedNick" class="info">ChangedNick</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Где я могу найти карту мира?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">3 ответа</a> <a href="/id/420" class="info">2 месяца назад</a> <a href="/users/quickscope1337" class="info">quickscope1337</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Что такое "штангенциркуль"?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">2 ответа</a> <a href="/id/420" class="info">3 месяца назад</a> <a href="/users/theB3s74ch173c70r" class="info">theB3s74ch173c70r</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Как попасть в Криперово без вреда здоровью?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">42 ответа</a> <a href="/id/420" class="info">1 месяц назад</a> <a href="/users/coder" class="info">coder</a></div>
				</div>
			</div>
			<div class="item">
				<a class="dotted link seemore">
					Посмотреть все
				</a>
			</div>
		</div>
	</div>
	<div class="column">
		<h1>Новые вопросы</h1>
		<div class="ui gc mainpage relaxed gc mainpage large list">
			<div class="item">
				<div class="content">
					<a class="header">Где построить дом?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">нет ответов</a> <a href="/id/420" class="info">2 минуты назад</a> <a href="/users/noobwrecker3000" class="info">theB3s74ch173c70r</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Как сделать магазин?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">1 ответ</a> <a href="/id/420" class="info">1 час назад</a> <a href="/users/ChangedNick" class="info">Lo_ogitech</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Как врубить ПвП???</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">1 ответ</a> <a href="/id/420" class="info">2 часа назад</a> <a href="/users/quickscope1337" class="info">quickscope1337</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Почему у дизайнера этого приложения вдохновение приходит через раз?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">2 ответа</a> <a href="/id/420" class="info">1 день назад</a> <a href="/users/theB3s74ch173c70r" class="info">Rena4ka</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Почему кое-кто тупица?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">1337 ответов</a> <a href="/id/420" class="info">1 месяц назад</a> <a href="/users/coder" class="info">nzh</a></div>
				</div>
			</div>
			<div class="item">
				<a class="dotted link seemore">
					Посмотреть все
				</a>
			</div>
		</div>
	</div>
</div>
<div class="ui two column grid addpadding">
	<div class="column">
		<div class="ct-chart ct-perfect-fourth" style="margin-top: 1rem;"></div>
	</div>
	<div class="column">
		<h1>Последние баг-репорты</h1>
		<div class="ui gc mainpage relaxed large list">
			<%- partial('../partials/ticketList', {
				tickets: tickets.latestBugreports
			}) %>
			<div class="item">
				<a href="/tickets?edgy=aspuck&sort=1&visibility=3&type=1" class="dotted link seemore">
					Посмотреть все
				</a>
			</div>
		</div>
	</div>
</div>
<div class="ui two column grid addpadding">
	<div class="column">
		<h1>Последние заявки<br> на удаление защит</h1>
		<div class="ui gc mainpage relaxed large list">
			<%- partial('../partials/ticketList', {
				tickets: tickets.latestRempros
			}) %>
			<div class="item">
				<a href="/tickets?edgy=aspuck&sort=1&visibility=3&type=2" class="dotted link seemore">
					Посмотреть все
				</a>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="ct-chart ct-perfect-fourth" style="margin-top: 1rem;"></div>
	</div>
</div>
<div class="ui two column grid addpadding">
	<div class="column">
		<div class="ct-chart ct-perfect-fourth" style="margin-top: 1rem;"></div>
	</div>
	<div class="column">
		<h1>Последние заявки<br> на баны и разбаны</h1>
		<div class="ui gc mainpage relaxed large list">
			<%- partial('../partials/ticketList', {
				tickets: tickets.latestBansUnbans
			}) %>
			<div class="item">
				<a href="/tickets?edgy=aspuck&sort=1&visibility=3&type=3,4" class="dotted link seemore">
					Посмотреть все
				</a>
			</div>
		</div>
	</div>
</div>
