<h1 class="gc mainpage header">Вам требуется помощь?</h1>
<form id="gc-mainpage-search">
	<div class="gc mainpage search">
		<input class="prompt" placeholder="Поиск по вопросам..." id="gc-mainpage-search-input" type="text">
		<a id="gc-mainpage-search-submit" href="#">
			<i class="search icon"></i>
		</a>
	</div>
</form>
<div class="ui five column relaxed grid ticket-blocks">
	<a class="column" href="/new/bugreport">
		<img class="ui medium bordered image" src="assets/images/mainpage/bugreport-illustration.png">
		<h3>Отправить баг-репорт</h3>
	</a>
	<a class="column" href="/new/rempro">
		<img class="ui medium bordered image" src="assets/images/mainpage/rempro-illustration.png">
		<h3>Составить заявку на удаление защит</h3>
	</a>
	<a class="column" href="/new/ban">
		<img class="ui medium bordered image" src="assets/images/mainpage/ban-illustration.png">
		<h3>Составить заявку на бан</h3>
	</a>
	<a class="column" href="/new/unban">
		<img class="ui medium bordered image" src="assets/images/mainpage/unban-illustration.png">
		<h3>Составить заявку на разбан</h3>
	</a>
	<a class="column" href="/new/regen">
		<img class="ui medium bordered image" src="assets/images/mainpage/regen-illustration.png">
		<h3>Составить заявку на реген</h3>
	</a>
</div>
<div class="ui two column grid addpadding">
	<div class="column">
		<h1>Часто задаваемые вопросы</h1>
		<div class="ui relaxed gc mainpage large list">
			<div class="item">
				<div class="content">
					<a class="header">Как сделать октаблок блоков Бадников?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">2 ответа</a> <a href="/id/420" class="info">13 дней назад</a> <a href="/users/noobwrecker3000" class="info">noobwrecker3000</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Где купить удочки?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">1 ответ</a> <a href="/id/420" class="info">8 дней назад</a> <a href="/users/ChangedNick" class="info">ChangedNick</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Где я могу найти карту мира?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">3 ответа</a> <a href="/id/420" class="info">2 месяца назад</a> <a href="/users/quickscope1337" class="info">quickscope1337</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Что такое "штангенциркуль"?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">2 ответа</a> <a href="/id/420" class="info">3 месяца назад</a> <a href="/users/theB3s74ch173c70r" class="info">theB3s74ch173c70r</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Как попасть в Криперово без вреда здоровью?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">42 ответа</a> <a href="/id/420" class="info">1 месяц назад</a> <a href="/users/coder" class="info">coder</a></div>
				</div>
			</div>
			<div class="item">
				<a class="dotted link seemore">
					Посмотреть все
				</a>
			</div>
		</div>
	</div>
	<div class="column">
		<h1>Новые вопросы</h1>
		<div class="ui gc mainpage relaxed gc mainpage large list">
			<div class="item">
				<div class="content">
					<a class="header">Где построить дом?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">нет ответов</a> <a href="/id/420" class="info">2 минуты назад</a> <a href="/users/noobwrecker3000" class="info">theB3s74ch173c70r</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Как сделать магазин?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">1 ответ</a> <a href="/id/420" class="info">1 час назад</a> <a href="/users/ChangedNick" class="info">Lo_ogitech</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Как врубить ПвП???</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">1 ответ</a> <a href="/id/420" class="info">2 часа назад</a> <a href="/users/quickscope1337" class="info">quickscope1337</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Почему у дизайнера этого приложения вдохновение приходит через раз?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">2 ответа</a> <a href="/id/420" class="info">1 день назад</a> <a href="/users/theB3s74ch173c70r" class="info">Rena4ka</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content">
					<a class="header">Почему кое-кто тупица?</a>
					<div class="description"><a href="/id/420#lastmessage" class="info">1337 ответов</a> <a href="/id/420" class="info">1 месяц назад</a> <a href="/users/coder" class="info">nzh</a></div>
				</div>
			</div>
			<div class="item">
				<a class="dotted link seemore">
					Посмотреть все
				</a>
			</div>
		</div>
	</div>
</div>
<div class="ui two column grid addpadding">
	<div class="column">
		<p class="statistics-subheader">Статистика по баг-репортам</p>
		<div class="ct-chart ct-perfect-fourth"></div>
	</div>
	<div class="column">
		<h1>Последние баг-репорты</h1>
		<div class="ui gc mainpage relaxed large list">
			<div class="item">
				<div class="content status declined">
					<a class="header">GreenCubes: Клиент крашится в ReactOS</a>
					<div class="description"><a href="/tickets" class="info">Отклонён</a><a href="/id/420#lastmessage" class="info">2 ответа</a> <a href="/id/420" class="info">2 дня назад</a> <a href="/users/noobwrecker3000" class="info">Kernel</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content status accepted">
					<a class="header">Веб-сервисы: OAuth не работает</a>
					<div class="description"><a href="/tickets" class="info">Принят</a><a href="/id/420#lastmessage" class="info">1 ответ</a> <a href="/id/420" class="info">8 дней назад</a> <a href="/users/noobwrecker3000" class="info">astappev</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content status new">
					<a class="header">Баг вот тут-то там вот</a>
					<div class="description"><a href="/tickets" class="info">Новый</a><a href="/id/420#lastmessage" class="info">3 ответа</a> <a href="/id/420" class="info">2 месяца назад</a> <a href="/users/noobwrecker3000" class="info">noob1337420</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content status accepted">
					<a class="header">GreenCubes: Internal Server Error</a>
					<div class="description"><a href="/tickets" class="info">Принят</a><a href="/id/420#lastmessage" class="info">1 ответ</a> <a href="/id/420" class="info">4 месяца назад</a> <a href="/users/noobwrecker3000" class="info">astappev</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content status new">
					<a class="header status specify">Веб-сервисы: Шрифт плохой, ГЕКА НЕ ТОРТ, КРЫМ — НАШ</a>
					<div class="description"><a href="/tickets" class="info">Новый</a><a href="/id/420#lastmessage" class="info">3 ответа</a> <a href="/id/420" class="info">142 дня назад</a> <a href="/users/noobwrecker3000" class="info">mrPutin</a></div>
				</div>
			</div>
			<div class="item">
				<div class="content status declined">
					<a class="header">А я вот даже не знаю где баг, вот</a>
					<div class="description"><a href="/tickets" class="info">Отклонён</a><a href="/id/420#lastmessage" class="info">3 ответа</a> <a href="/id/420" class="info">142 дня назад</a> <a href="/users/noobwrecker3000" class="info">neznayka</a></div>
				</div>
			</div>
			<div class="item">
				<a class="dotted link seemore">
					Посмотреть все
				</a>
			</div>
		</div>
	</div>
</div>