// local.js example

module.exports = {
  appName: "GC.Тикеты",

  port: process.env.PORT || 1337,

  // The runtime "environment" of your app is either 'development' or 'production'.
  environment: process.env.NODE_ENV || 'production',

  //Session secret
  secret: 'somethinglongandRANDOM', //Make it pure random

  appdb: { //Application DB
    host: 'localhost',
    user: 'YOUR_MYSQL_USER',
    password: 'YOUR_MYSQL_PASSWORD', 
    database: 'YOUR_MYSQL_DB'
  },
  userdb: { //User auth DB
    host: 'localhost',
    user: 'YOUR_MYSQL_USER',
    password: 'YOUR_MYSQL_PASSWORD',
    database: 'YOUR_MYSQL_DB'
  },
  redis: {//Redis session DB
    host: 'localhost',
    port: 6379,
    ttl: 0,
    db: 0, //change this if other db
    pass:'<redis auth password>',
    prefix: 'sess:'
  }
};
