.gc.ticketview .maincontent {
	padding-left: 10%;
	padding-right: 10%;
}

.gc.ticketview.main {
	width: 80%;
}

.gc.ticketview p.text {
	font-size: 1.5rem;
}

.gc.ticketview .editbutton {
	font-size: 1.6rem;
	padding: 0px 0.6rem;
	position: relative;
	bottom: 0.3rem;
	color: rgba(0, 0, 0, 0.4);
	text-decoration: none;
}

.gc.ticketview .editbutton:hover, .editbutton:active {
	color: rgba(0, 0, 0, 0.5);
}

.gc.ticketview .ui.comments .comment {
	margin: 1em 0px 0px;
}
