<h1 class="gc gameinfo page header"><a href="/gameinfo" class="nostyle link" style="position: relative; margin-right: -3.7rem; right: 3.7rem; color: rgba(0, 0, 0, 0.4);"><i class="chevron left small icon"></i></a><%= __('view.gameinfo.title') %> / <%= header %></h1>
<h2 class="gc gameinfo subheader"><%= subheader %></h2>
