<% title = "Все тикеты — GC.Тикеты" 
scripts.push('io.js','sio.js','list.' + type.url + '.js'); 
styles.push('main.css') %>
<%- partial('partials/header')%>
<div class="container" id="content" style="position:relative">
<div class="ui active inverted dimmer">
  <div class="ui text loader">Загружается список</div>
</div>

</div>
