<% title = "Список тикетов — GC.Тикеты"; %>
<%- partial('partials/header')%>
<div class="container" id="content" style="position:relative">
<div class="ui active inverted dimmer">
	<div class="ui text loader" style="margin: 15% 0%;">Загружаются тикеты</div>
</div>
</div>
